#newstable{
    border: none;
    table-layout: auto;
    width: auto;
    height: auto;
    overflow-x: scroll;
}

#newstable td{
    border: none;
    max-width:100%;
    white-space:nowrap;
}

#newstable th{
    border: none;
}

