/* Add your block style here */
img {
    margin: auto;
}

.linked-icon i {
    text-decoration: none;
    color: black; /* Default color */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth color transition */
  }
  
  .linked-icon i:hover {
    color:royalblue; /* Color on hover */
    text-decoration: underline;
  }