/* Add your block style here */
//   br {
//     display: block; /* makes it have a width */
//     content: ""; /* clears default height */
//     margin-top: 5; /* change this to whatever height you want it */
// }

// ul li
// {
//     margin-bottom: 20px;
// }

// div + div {
//     margin-top: 20px;
// }

// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//   }

.home-section {
    padding: 30px 0 30px 0;
  }